.container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.column {
    min-height: 400px;
    min-width: 300px;
    background-color: #27272a;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    font-size: 18px;
    
}