.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1rem;
    
  }


  .user {
    display: flex;
    column-gap: 4px;
  }

  #logout {
    color: gray;
  }
  